<h1>Veterinaria DOGE</h1>
<p>Un lugar en donde podemos atender a tu engreído ofreciendo la mayor seguridad y cuidado por parte de nosotros
    ¡Gracias por confiar en nosotros!</p>

<h3>Bienvenido!</h3>
<p>Inicie sesión o cree una cuenta para comenzar</p>
<form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <div>
        <label for="username">Nombre de usuario:</label>
        <input ngModel type="text" id="username" name="username" placeholder="Nombre de usuario...">
    </div>
    <div>
        <label for="password">Contraseña</label>
        <input ngModel type="password" id="password" name="password" placeholder="Contraseña...">
    </div>

    <input type="checkbox" id="remember" name="remember">
    <label for="remember">Recuérdame</label>

    <input type="submit" value="LOGIN">

    <a href="#">Olvidé mi contraseña</a>
</form>